@charset "UTF-8";

h1  {
	text-align: center;
	background-color:#A3C4BC;
	font-size: 2.5em;
	color: white;
	font-family: Cascade Script;
}


h2  {
	text-align: center;
	background-color: #A3C4BC;
	font-size: 2.5em;
	color: white;
}

h3 {
	font-size: 1.5em;
	color: #4C5B5C;
}




p{
	font-family: Nymphs,Calibri,Helvetica, "Comic Sans";
	font-size: 1.8em;
	color:#4C5B5C;


}


.blackborder {
	border-style: solid; 
	border-width: 3px; 
	border-color: black;
	border-radius: 5px; 
	
	/*this rule is for a solid black boarder*/ 
	
}


.center{
	display:block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

.whitetext {
	font-family: Nymphs,Calibri,Helvetica, "Comic Sans; ";
	font-size: 1.8em;
	color:white;
}



.sagebackground {
	background-color: #BFD7B5;
	
} 

/*this rule is for a one time background*/
.pinkbackground {
	background-color: #4C5B5C;
}


.floatright {
	float: right;
}

.margin{ 
	margin: 3%;
}


.clearfix {
	overflow: auto; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#4C5B5C;
  font-size: 1.5em;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #BFD7B5;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
  
  /* citation: used help from https://www.w3schools.com/css/css_navbar_horizontal.asp */
}
	
.padding{
	padding: 20px;
}	
	
	
.pdfsize {
width: "600"; 
height: "400";
}
	
	
.div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.div.gallery:hover {
  border: 1px solid #777;
}

.div.gallery img {
  width: 100%;
  height: auto;
}

.div.desc {
  padding: 15px;
  text-align: center;
  font-family: Nymphs,Calibri,Helvetica, "Comic Sans; ";
  background-color: #BFD7B5;
}
 /* citation: https://www.w3schools.com/css/css_image_gallery.asp */
 
 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


	

/*flexbox! citation: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/

.flex-box{
	display: flex;
	
	flex-flow: row wrap;
	
	justify-content: space-around;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.wrapper > * {
	padding: 10px;
	flex: 1 100%
}

.header{
	background: tomato;
	height: 30px;
	
}

.main{
	text-align: right;
	background: deepskyblue;
}

.aside-1 {
	background: #D2E3CB;
	height: 550px;
	text-align: left;
}

.aside-2{
	background:#E0EBDB;
	height: 550px;
	text-align: left;
}

.footer {
	background: white;
	
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}




	
